.main {
    display: flex;
}

.header {
    height: 32px;
    background-color: #181818;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    padding-left: 10px;

    user-select: none;
    gap: 10px;
}

.header > img {
    height: 20px;
}

.header > h1 {
    color: white;
    font-size: 16px;
}

.mainSection {
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    height: calc(100vh - 33px);
    width: 100%;
    color: white;
    overflow-y: auto;
}

.topMain {
    position: fixed;
    min-height: 64px;
    width: calc(100% - 20px);
    background-color: #181818;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 16px;
    gap: 20px;
}

.icon {
    font-size: 24px;
}

@media (max-width: 767px) {
    .mainSection {
        width: 100%
    }
    
    .topMain {
        font-size: 14px;
    }
}