.folderItem {
    padding: 0px 20px;
}

.fileItem {
    padding: 0px 30px 0px 60px;
}

.items {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.items:hover, .fileItem:hover {
    background-color: var(--hover-color);
}

.ulFiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.fileItem > p {
    white-space: nowrap;     
    overflow: hidden;        
    text-overflow: ellipsis;           
}

.draft {
    padding: 0px 30px;
}

.fileItemDraft {
    padding: 0px 30px 0px 70px;
}