.jetbrainsMono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

.filePageFont {
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
}