.navBar {
    height: 100%;
    background-color: #181818;
    color: white;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, 0.2);

    user-select: none;

    flex-shrink: 0;

    z-index: 10;
}

.topNavBar {
    display: flex;
    justify-content: end;

    font-size: 24px;
    padding-right: 20px;
}

.folders {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.readme {
    padding: 0px 20px;
}

.readme:hover {
    background-color: #333333;
}

@media (max-width: 767px) {
    .navBar {
        position: fixed;
        top: 32px;
        left: 0;
        
    }
}